:root {
    --side-padding: 2rem;
    --transition-quint: all 0.6s cubic-bezier(0.85, 0, 0.15, 1);
    --transition-quart: all 0.6s cubic-bezier(0.76, 0.00, 0.24, 1); 
}

/* Works Nav */
.works-nav {
    position: fixed;
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);
    border: 1px black solid;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0.5rem 1rem 0;
    font-size: 1rem;
    z-index: 200;
}
.works-nav-item {
    width: 33.33%;
    padding-inline: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Works Nav End */

.work {
    padding: 6.5rem var(--side-padding) 2rem var(--side-padding);
    font-size: 1rem;
    overflow-y: hidden;
}
.work-title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 0;
}
.work-showcase-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;

}
.works-showcase-left {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 28em;
}
.works-showcase-right {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
    height: 28em;
    margin: 8em 0 6em 0;
}
/* work hero mob */
.works-showcase-left-mob, .works-showcase-right-mob  {
    display: none;
}
/* work hero mob end */

/* Works Child */
/* hero */
.work-uid-hero {
    position: relative;
    overflow-y: hidden;
    font-size: 1rem;
    padding: 14rem var(--side-padding) 34rem var(--side-padding);
}
.work-uid-hero-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -10;
}
.work-uid-hero-title {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 200;
}
.work-uid-hero-title > h1 {
    color: #FFF;
    z-index: 10;
}
/* hero end */

/* Works Brief */
.work-brief {
    padding: 2rem var(--side-padding) 4rem var(--side-padding);
    font-size: 1rem;
}
.work-brief-text-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.work-brief-left {
    width: 20%;
}
.work-brief-right {
    width: 50%;
}
.work-brief-right-top {
    width: 80%;
}
.work-brief-right-bottom {
    margin-top: 1.4em;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.work-brief-item {
    width: 30%;
    margin-top: 2.5em;
}
.work-brief-item-content {
    padding-top: 0.5em;
    width: 90%;
}

/* Works Brief End */

/* Works Vision */
.work-vision {
    padding: 4rem var(--side-padding) 4rem var(--side-padding);
    font-size: 1rem;
    overflow-y: hidden;
}
.work-vision-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-height: 60em;
}
.work-vision-left {
    width: 50%;
    height: 50vh;
}
.work-vision-left-wrapper {
    height: 100%;
    width: 100%;
    transition: all 0.3s ease;
}
.work-vision-left-text {
    padding-bottom: 1em;
}
.work-vision-right {
    width: 50%;
}
.work-vision-right > p {
    width: 70%;
    line-height: 144%; /* 1.98rem */
    letter-spacing: -0.022rem;
}
/* Works Vision End */

/* Works Image */
.worksImg {
    height: 50vw;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
}
/* Works Image End */

/* Behind the scene */
.b-scene {
    padding: 2rem var(--side-padding) 2rem var(--side-padding);
    font-size: 1rem;
}
.b-scene-border {
    border-top: 1px #000 solid;
    border-bottom: 1px #000 solid;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 2em 0 2em 0;
    height: 100vh;  
    overflow: hidden;
}
.b-scene-title {
    /* z-index: 200; */
    background: rgba(255, 255, 255, 0.01);
}
.b-scene-title > h1 {
    text-align: center;
    font-size: 6.25em;
}
.b-scene-cta {
    border-bottom: 1px black solid;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: var(--transition-quint);
    z-index: 10;
}
.b-scene-cta::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background: #000;
    z-index: -1;
    width: 100%;
    height: 0;
    transition: var(--transition-quint);
}
.b-scene-cta:hover.b-scene-cta::after {
    height: 100%;
}
.b-scene-cta-text {
    padding: 0.8em 0 0.8em 0;
    transition: var(--transition-quart);
    color: #000;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.b-scene-cta:hover .b-scene-cta-text{
    color: #FFF;
}
.b-scene-img-container-mob {
    display: none;
}
.b-scene-img-container {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
.b-scene-img-inner-container {
    position: relative;
    height: 100%;
    width: 100%;
    cursor: none;
}
.b-scene-img-item {
    position: absolute;
    width: 50vmin;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: scale 1s ease;
}
.b-scene-img-item[data-status="inactive"] {
    /* display: none; */
    scale: 0.6;
    opacity: 0.6;
}
.b-scene-img-item[data-status="active"] {
    /* display: block; */
    scale: 1;
    opacity: 1;
}
/* Behind the scene end */
@media(max-width: 780px) {
    .work {
        font-size: 3rem;
        padding-inline: 2rem;
        overflow-x: hidden;
    }
    .works-showcase-left {
        display: none;
    }
    .works-showcase-left-mob{
        display: flex;
        flex-direction: column;
        padding-inline: 2rem;
        width: 100vw;
        /* padding-left: 2rem; */
        margin: 2em 0;
    } 
    .works-showcase-right-mob  {
        display: flex;
        flex-direction: column;
        padding-inline: 2rem;
        width: 100vw;
        /* padding-left: 2rem; */
        margin: 2em 0;
    }
    .works-showcase-right {
        display: none;
    }
    .work-title {
        padding: 4em 0 2em 0;
    }

    /* Works Child */
    .work-uid-hero {
        font-size: 3rem;
        padding: 80rem 3rem 18rem 3rem;
    }
    .work-brief {
        font-size: 3rem;
        padding: 5rem 2rem 4rem 2rem;
    }
    .work-brief-text-container {
        flex-direction: column;
    }
    .work-brief-left {
        width: 100%;
    }
    .work-brief-right {
        width: 100%;
        margin-top: 1em;
    }
    .work-brief-item {
        width: 33.33%;
    }
    .work-vision {
        font-size: 3rem;
        padding: 5rem 2rem;
    }
    .work-vision-wrapper {
        flex-direction: column;
    }
    .work-vision-left {
        height: fit-content;
    }
    .work-vision-right {
        width: 100%;
        margin-top: 1em;
    }
    .work-vision-right > p {
        width: 80%;
    }

    /* Behind the Scenes */
    .b-scene {
        font-size: 3rem;
    }
    .b-scene-border {
        height: auto;
    }
    .b-scene-img-container {
        display: none;
    }
    .b-scene-border {
        display: flex;
        flex-direction: column;
    }
    .b-scene-img-container-mob {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
    /* Behind the Scenes End */    

    /* Works Nav */
    .works-nav {
        font-size: 3rem;
        padding: 3rem 3rem 3rem 1rem;
    }
    .works-nav-item {
        padding-inline: 2em;
    }
    /* Works Nav End */
    /* Works Child End */

}