:root {
  --max-width: 1100px;
  --default-rgb: 255, 255, 255;
  --vid-overlay: 0, 0, 0, 1;
  --tile-start-rgb: 239, 245, 249;
  --h1-xl: 10.375em; /* H1 166px */
  --h-l: 6.25em;
  --h1-big: 5em; /* H1 80px */
  --h1-small: 2em; /* H1 32px */
  --h2: 40px; /* H2 Font Size */
   /* H3 Font Size */
  --h2-l: 3.75em;
  --h4: 40px; /* H4 Font Size */
  --p: 1.1em;  /* P Font Size */
  --p-26: 1.625em;
  --p-r: 1em; /* p 16px */
  --p-s: 0.8em; /* p 12px */
  --p-l: 2.5em; /* P 40px */
  --cta: 0.875em;

  --txt-black: #000;
  --txt-white: #FFF;
  --snow-bg: #FFF;
  --black-bg: #000;
  
  --cta-anim-black: #000;
  --cta-txt-white: #FFF;
  --transition-speed: 0.4s; 
  --transition-quint: all 0.3s cubic-bezier(0.85, 0, 0.15, 1);
  --quint: cubic-bezier(0.85, 0, 0.15, 1);
  --transition-quart: all 0.3s cubic-bezier(0.76, 0.00, 0.24, 1); 
  --quart: cubic-bezier(0.76, 0.00, 0.24, 1);

  --side-padding: 2rem;
}
/*  */

/* Background & Text Color */
.snow {
  background: var(--snow-bg);
}
.black-txt {
  color: #000;
}
.snow-txt {
  color: var(--txt-white);
}
/* Background & Text Color End */

/* Haffer Fonts */
@font-face {
  font-family: haffer-B;
  src: local('haffer-B'), url('/fonts/Haffer-Bold.woff2') format('woff2');
}
.haffer-M { /* Haffer Bold */
  font-family: haffer-B;
}
@font-face {
  font-family: haffer-SB;
  src: local('haffer-SB'), url('/fonts/Haffer-SemiBold.woff2') format('woff2');
}
.haffer-M { /* Haffer SemiBold */
  font-family: haffer-SB;
}
@font-face {
  font-family: haffer-H;
  src: local('haffer-H'), url('/fonts/Haffer-Heavy.woff2') format('woff2');
}
.haffer-H {  /* Haffer Heavy */
  font-family: haffer-H;
}
@font-face {
  font-family: haffer-M;
  src: local('haffer-M'), url('/fonts/Haffer-Medium.woff2') format('woff2');
}
.haffer-M { /* Haffer Medium */
  font-family: haffer-M;
}
@font-face {
  font-family: haffer-R;
  src: local('haffer-R'), url('/fonts/Haffer-Regular.woff2') format('woff2');
}
.haffer-R { /* Haffer Regular */
  font-family: haffer-R;
}
@font-face {
  font-family: haffer-I;
  src: local('haffer-I'), url('/fonts/Haffer-RegularItalic.woff2') format('woff2');
}
.haffer-I { /* Haffer Regular Italic */
  font-family: haffer-I;
}
@font-face {
  font-family: haffer-L;
  src: local('haffer-L'), url('/fonts/Haffer-Light.woff2') format('woff2');
}
.haffer-L { /* Haffer Light */
  font-family: haffer-L;
}
/* Haffer Fonts End */

/* Global Font Sizes */
.h1-xl {
  font-size: var(--h1-xl);
}
.h1-big {
  font-size: var(--h1-big);
}
.h1-l {
  font-size: var(--h-l);
}
.h1-small {
  font-size: var(--h1-small);
}
.h2-l {
  font-size: var(--h2-l);
}
.p-tag {
  font-size: var(--p);
}
.p-l {
  font-size: var(--p-l);
}
.p-r {
  font-size: var(--p-r);
}
.p-26 {
  font-size: var(--p-26);
}
.p-s {
  font-size: var(--p-s);
}
.cta-sml {
  font-size: var(--cta);
}

/* Global Font Sizes End */

/* CTA Properties */
.cta{
  position: relative;
  font-size: var(--cta);
  color: black;
  padding: 0.6em 0.35em 0.6em 0.2em;
  transition: var(--transition-quint);
  transition-delay: 500ms;
  z-index: 100;
}
.cta::before {
  /* CTA BACKGROUND */
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background: var(--cta-anim-black);
  z-index: -1;
  transition: var(--transition-quint);
  transition-delay: 500ms;
}
.cta:hover.cta::before {
  /* CTA BACKGROUND */
  width: 100%;
  height: 100%;
  transition: var(--transition-quint);
}
.cta > p {
  position: relative;
}
.cta > p::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 0;
  background: var(--snow-bg);
  transition: var(--transition-quart);
  /* transition-delay: 500ms; */
}
.cta:hover.cta > p::after {
  /* CTA UnderLine */
  width: 100%;
  transition: var(--transition-quart);
  transition-delay: 200ms;
}

.cta:hover {
  color: #FFF;
  z-index: 200;
  transition: var(--transition-quint);
}
.cta-arrow {
  position: relative;
  background: var(--snow-bg);
  transition: var(--transition-quart);
  transform: translateX(-120%);
  transition-delay: 250ms;
}
.cta-arrow-A {
  position: absolute;
  height: 6px;
  width: 6px;
  border: 2px #FFF solid;
  border-bottom: none;
  border-left: none;
  top: -120%;
  right: 5%;
  transform: rotate(45deg) translate(0%, -2%);
}
.cta:hover .cta-arrow {
  transform: translateX(-10%);
  transition-delay: 300ms;
}
.cta-prop {
  position: relative;
  width: fit-content;
  transition: all var(--transition-speed) ease;
}

/* Cursor-A */
.cursor-A {
  color: black;
  scale: 0;
  position: fixed;
  background-color: rgba(255, 255, 255, 1);
  transition: scale 0.5s var(--quint);
  pointer-events: none;
  z-index: 2000;
  transition-delay: 600ms;
}
.cursor-A.cursor-active {
  scale: 1;
  transition: scale 0.9s var(--quint);
  z-index: 200;
}
.cursor-A-bg-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  padding: 0.4em;
}
.cursor-A-bg {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background: var(--black-bg);
  transition: var(--transition-quint);
  z-index: -10;
  transition-delay: 300ms;
}
.cursor-A-bg.cursor-A-bg-active {
  width: 100%;
  transition: var(--transition-quint);
  z-index: -10;
  transition-delay: 300ms;
}
.cursor-A-text-wrapper {
  transition: var(--transition-quint);
  z-index: 500;
}
.cursor-A-text-wrapper > p {
  color: var(--cta-anim-black);
  transition: var(--transition-quint);
  z-index: 500;
  transition-delay: 300ms;
}
.cursor-A-text-wrapper.cursor-A-text-active > p {
  color: var(--cta-txt-white);
  transition: var(--transition-quint);
  z-index: 500;
  transition-delay: 300ms;
}

.cursor-A-text {
  position: relative;
  display: flex;
  align-items: center;
}
.cursor-A-text::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 0%;
  background: #FFF;
  z-index: 10;
  transition: var(--transition-quint);
  transition-delay: 200ms;
}
.cursor-A-text.cursor-A-text-u-active {
  position: relative;
  transition: var(--transition-quint);
}
.cursor-A-text.cursor-A-text-u-active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background: #FFF;
  z-index: 10;
  transition: var(--transition-quart);
  transition-delay: 500ms;
}
.cursor-A-text-u-active {
  position: relative;
}
.cursor-A-arrow-wrapper {
  overflow: hidden;
}
.cursor-A-arrow {
  color: #FFF;
  position: relative;
  transform: translateX(-100%);
  transition: var(--transition-quint);
}
.cursor-A-arrow.cursor-A-arrow-reveal {
  transform: translateX(0%);
  transition: var(--transition-quint);
  transition-delay: 700ms;
}
/* Cursor-A End */
/* CTA Properties End */




* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  max-width: 100vw;
  overflow: hidden;
  font-size: 1vw;
  font-family: haffer-R;
}
body {
  color: rgb(var(--default-rgb));
}
a {
  color: inherit;
  text-decoration: none;
}
h1,h2,h3,h4 {
  font-weight: 400;
}

/* eyebrow letter spacing */
.eyebrow-title > h1 {
  letter-spacing: -0.08rem;
}


/* Nav */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1.95rem 1.9rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: var(--transition-quart);
  z-index: 200;
  font-size: 1rem;
}
.nav-left {
  width: 33%;
}
.nav-mid {
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-mid-item {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition-quint);
}
.nav-right {
  width: 33%;
  display: flex;
}
.nav-right-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.nav-right-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.13em;
  width: 1.13em;
  border-radius: 0.13em;
  background: #FFF;
  color: #000;
  margin-left: 0.6em;
  transition: var(--transition-quint);
}

.nav-right-text > p  {
  transition: var(--transition-quint);
}
.nav-logo-svg {
  color: white;
  transition: var(--transition-quint);
}
.nav-logo-svg.white-section {
  color: black;
  transition: var(--transition-quint);
}
/* Nav HB */
.nav-hb {
  display: none;
}
.hb-inner {
  display: none;
}

/* Nav HB End */
/* Nav End */

/* Footer */
.footer {
  padding: 2rem var(--side-padding) 2rem var(--side-padding);
  font-size: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.footer-left {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 60%;
}
.footer-left-item {
  width: 33.33%;
}
.footer-left-list-items {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}
.footer-left-list-item {
  margin-top: 0.45em;
}
.footer-right {
  width: 35%;
}
.footer-right-top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.footer-right-text-A {
  width: 50%;
}
.footer-right-bottom {
  margin-top: 2.4em;
}
/* Footer Form */
.footer-form-wrapper {
  position: relative;
  display: flex;
  width: 14em;
}
.footer-form-border {
  position: absolute;
  bottom: 0%;
  left: 0;
  background: rgb(181, 177, 177);
  height: 1px;
  width: 100%;
}
.footer-form-border-inner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background: #000;
  transition: var(--transition-quart);
}
.footer-form-wrapper > input {
  border: none;
  outline: none;
  background: none;
  color: #000;
  width: 70%;
}
/* Footer Form End */
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}



/* media-query */
@media(max-width: 780px) {
  .nav {
    padding-top: 6em;
  }
  .nav-left {
    /* border: 1px red solid; */
    z-index: 200;
  }
  .nav-mid {
    display: none;
  }
  .nav-right {
    display: none;
  }
  .nav-hb {
    display: flex;
    width: 33.33%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 200;
  }
  .nav-hb-wrapper {
    height: 10em;
    width: 40%;
    position: relative;
  }
  .hb-line {
    height: 1px;
    width: 100%;
    background: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: var(--transition-quint);
  }
  .hb-line.line-top {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .hb-line.line-bottom {
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  /* Hb Inner */
  .hb-inner {
    position: fixed;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: #FFF;
    z-index: 100;
    transition: var(--transition-quart);
    font-size: 16rem;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hb-inner-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 2rem;
  }
  .hb-inner-item {
    margin: 0.5em 0;
  }
      
  .h1-big {
    font-size: 3em;
  }
  .h1-xl {
    font-size: 5.5em;
  }
  .p-l  {
    font-size: 1.9em;
  }

  /* Footer */
  .footer {
    font-size: 3rem;
    padding: 4rem 2rem 8rem 2rem;
    flex-direction: column;
  }
  .footer-left  {
    width: 100%;
    margin-bottom: 2em;
  }
  .footer-left-item {
    width: 30%;
  }
  .footer-right {
    width: 100%;
  }
  /* Footer End */
}




/* TESTING */
.test {
  border: 1px red solid;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.elipse-wrapper {
  width: 60%;
  border: 1px red solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.elipse {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  background: blue;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);  
}
.elipse.elipse-A {
  /* left: -100%; */
  background: green;
}
.elipse.elipse-B {
  left: 0%;
  background: red;
}
.elipse.elipse-C {
  left: 50%;
  background: blue;
}
.elipse.elipse-D {
  left: 100%;
  background: #000;
}